In [12]:
import pandas as pd

1) Задание: загрузить данные из файлов (приложены к письму):
* excel-comp-data.xlsx
* sp500hst.txt

In [25]:
data = pd.read_csv('../data/pandas/sp500hst.txt', header = None)
sp_data = pd.read_csv('../data/pandas/sp500hst.txt', header = None)

2) Загрузить данные из файла sp500hst.txt, обозначить столбцы (в соответствии с содержимым). 

3.1) Создать значение со средним значением, между значением дневного минимума и максимума.

3.2) Рассчитать среднее значение показателей для каждого из столбцов 3-6.

In [26]:
#2
data.columns = ["Date", "Ticket", "Open", "Max", "Min", "Close", "Volume"]
sp_data.columns = ["Date", "Ticker", "Open", "Max", "Min", "Close", "Volume"]

In [27]:
#3.1
data["Middle"] = (data["Max"] + data["Min"])/2

In [28]:
#3.2
sum(data["Open"])/len(data["Open"])
sum(data["Max"])/len(data["Max"])
sum(data["Min"])/len(data["Min"])
sum(data["Close"])/len(data["Close"])

42.60186484817329

4.1) Создать DataFrame состоящий из строк относящихся только к 13 августа 2010 года. 

4.1.2) Из DataFrame, созданного в 4.1, cоздать серию из 30 первых имен тикеров.

4.2) Из DataFrame, созданного в 4.1, создать DataFrame индексом в котором являются имена тикеров.

4.3) Создать DataFrame состоящий из строк относящихся только тикеру ALTR. 

4.4) Из DataFrame, созданного в 4.3, создать DataFrame индексом в котором являются даты.

4.5) В DataFrame, созданном в 4.3, добавить столбец, содержащий только число месяца, к которому относится дата.

In [29]:
#4.1
data.loc[data.Date == 20100813]

#4.1.2
data.iloc[:30]

#4.2
data2 = data
data2.index = data2.Ticket

#4.3
altr = data2.loc["ALTR"]

#4.4
data3 = altr
data3.index = data3["Date"]

In [30]:
#4.5
altr
altr["NumberMounth"] = [str(i)[6:] for i in altr["Date"]]

C:\Users\161193\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

4.6) В DataFrame добавить столбец, содержащий только число месяца, к которому относится дата.

4.7) Из DataFrame выбрать только строки, относящиеся к 13 числу месяца.

In [31]:
#4.6
data["NumberMonth"] = [int(str(i)[4:6]) for i in data["Date"]]

#4.7
data[data.Date.apply(lambda x: str(x)[6:8]).str.contains('13')]

,Date,Ticket,Open,Max,Min,Close,Volume,Middle,NumberMonth
Ticket,,,,,,,,,
A,20091013,A,27.410,27.5300,27.1500,27.290,14226,27.34000,10
A,20091113,A,27.970,28.8900,27.7500,28.610,62633,28.32000,11
A,20100113,A,30.470,30.7800,30.0500,30.690,24455,30.41500,1
A,20100413,A,34.150,34.2300,33.8800,33.900,25868,34.05500,4
A,20100513,A,34.830,35.2900,34.4300,34.780,43992,34.86000,5
A,20100713,A,28.470,28.9500,28.4200,28.750,40928,28.68500,7
A,20100813,A,27.390,27.8500,27.3000,27.350,24469,27.57500,8
AA,20091013,AA,14.310,14.3700,14.0000,14.110,316382,14.18500,10
AA,20091113,AA,13.220,13.2900,13.0100,13.180,174425,13.15000,11
AA,20100113,AA,15.770,15.9900,15.4100,15.980,586943,15.70000,1
AA,20100413,AA,14.300,14.3900,14.0600,14.340,1006917,14.22500,4
AA,20100513,AA,12.610,13.2400,12.5900,12.800,456895,12.91500,5
AA,20100713,AA,11.320,11.3400,10.8700,11.000,585630,11.10500,7
AA,20100813,AA,10.700,10.7900,10.5750,10.640,154397,10.68250,8
AAPL,20091013,AAPL,190.580,191.1700,189.7000,190.020,124292,190.43500,10
AAPL,20091113,AAPL,202.970,204.8300,202.0700,204.450,122618,203.45000,11
AAPL,20100113,AAPL,208.120,210.9300,204.1000,210.650,216389,207.51500,1
AAPL,20100413,AAPL,242.230,242.8000,241.1100,242.430,109360,241.95500,4
AAPL,20100513,AAPL,263.260,265.0000,256.4000,258.360,214182,260.70000,5
AAPL,20100713,AAPL,256.210,256.4000,246.4300,251.798,425340,251.41500,7
AAPL,20100813,AAPL,251.030,251.8800,249.0900,249.100,126738,250.48500,8
ABC,20091013,ABC,22.690,22.7600,22.5300,22.620,28239,22.64500,10
ABC,20091113,ABC,24.090,24.6800,24.0900,24.600,34179,24.38500,11
ABC,20100113,ABC,26.590,27.1300,26.5900,27.040,31502,26.86000,1
ABC,20100413,ABC,29.240,29.5000,28.9500,29.460,27779,29.22500,4
ABC,20100513,ABC,31.920,31.9600,31.5800,31.600,39514,31.77000,5
ABC,20100713,ABC,31.970,32.5400,31.9700,32.330,23028,32.25500,7
ABC,20100813,ABC,29.010,29.1300,28.6900,29.040,16196,28.91000,8
ABT,20091013,ABT,49.770,49.9600,49.3200,49.650,81382,49.64000,10
ABT,20091113,ABT,53.400,53.5000,52.7800,52.950,59574,53.14000,11
...,...,...,...,...,...,...,...,...,...
XTO,20100413,XTO,48.190,48.4500,47.8300,48.320,92905,48.14000,4
XTO,20100513,XTO,45.610,45.9700,45.3300,45.580,68586,45.65000,5
YHOO,20091013,YHOO,16.980,17.0000,16.8100,16.880,194924,16.90500,10
YHOO,20091113,YHOO,16.030,16.1000,15.9200,15.930,264537,16.01000,11
YHOO,20100113,YHOO,16.800,16.9800,16.6500,16.900,169617,16.81500,1
YHOO,20100413,YHOO,17.515,18.2950,17.4000,18.180,475173,17.84750,4
YHOO,20100513,YHOO,16.480,16.5000,16.0800,16.140,153637,16.29000,5
YHOO,20100713,YHOO,15.060,15.6000,14.9900,15.520,223287,15.29500,7
YHOO,20100813,YHOO,13.820,13.9550,13.7600,13.830,78455,13.85750,8
YUM,20091013,YUM,35.290,35.4600,34.7700,34.920,58818,35.11500,10
YUM,20091113,YUM,34.960,35.5900,34.8300,35.290,25574,35.21000,11
YUM,20100113,YUM,35.830,36.1000,35.5300,35.890,40531,35.81500,1
YUM,20100413,YUM,40.900,41.3100,40.6100,41.160,71291,40.96000,4
YUM,20100513,YUM,42.370,42.6600,41.4100,41.460,45465,42.03500,5
YUM,20100713,YUM,41.740,41.8200,41.2101,41.710,63710,41.51505,7
YUM,20100813,YUM,40.800,41.0399,40.6200,40.850,20055,40.82995,8
ZION,20091013,ZION,17.080,18.2000,17.0600,18.020,88596,17.63000,10
ZION,20091113,ZION,13.000,13.4000,12.8200,13.110,84894,13.11000,11
ZION,20100113,ZION,15.910,16.5700,15.1400,16.350,103672,15.85500,1
ZION,20100413,ZION,24.830,24.8500,24.2600,24.570,91218,24.55500,4
ZION,20100513,ZION,28.740,29.2500,28.4100,28.500,38257,28.83000,5
ZION,20100713,ZION,23.620,24.3900,23.5200,24.200,40798,23.95500,7
ZION,20100813,ZION,20.170,20.4300,19.8400,19.890,25193,20.13500,8
ZMH,20091013,ZMH,52.520,52.6600,52.0400,52.230,18716,52.35000,10
ZMH,20091113,ZMH,55.070,56.0400,54.9200,55.590,23661,55.48000,11
ZMH,20100113,ZMH,62.260,62.7900,61.7320,62.550,7663,62.26100,1
ZMH,20100413,ZMH,59.270,60.1500,59.0600,60.090,13177,59.60500,4
ZMH,20100513,ZMH,60.970,61.2000,60.6500,60.650,10647,60.92500,5
ZMH,20100713,ZMH,56.380,57.5700,56.3800,56.920,21035,56.97500,7
ZMH,20100813,ZMH,51.720,51.9000,51.3800,51.440,14561,51.64000,8

4) Выяввиь столбцы содержащие минимальные и максимальные значения (если такие столбцы есть). (Проверить, есть ли среди столбцов, столбец с минимальным значением курса акций.)

In [32]:
sp_data_4 = sp_data.copy()
sp_data_4.describe()

,Date,Open,Max,Min,Close,Volume
count,1.225740e+05,122574.000000,122574.000000,122574.000000,122574.000000,1.225740e+05
mean,2.009715e+07,42.595458,43.102243,42.054464,42.601865,8.139507e+04
std,4.496405e+03,42.909787,43.378185,42.397805,42.900199,3.423884e+05
min,2.009082e+07,1.360000,1.390000,1.000000,1.350000,4.700000e+01
25%,2.009112e+07,21.810000,22.100000,21.500000,21.810000,1.661150e+04
50%,2.010022e+07,35.130000,35.540000,34.690000,35.130000,3.303500e+04
75%,2.010052e+07,51.840000,52.450000,51.230000,51.870000,6.775600e+04
max,2.010082e+07,627.840000,629.510000,624.240000,626.750000,2.147484e+07

5) По данным из 'sp500hst.txt' при помощи Pandas расчитать максимальные значения в 3-6 столбца для дат после 20100801

6) По данным из 'sp500hst.txt' при помощи Pandas расчитать средний объем торгов (обеъм торгов - в последнем столбце) при значениях 3го столбца больше 50.

In [33]:
# 5
sp_data_5 = sp_data.copy()
sp_data_5[sp_data_5.Date > 20100801].iloc[:,3:7].describe().loc['max']

# 6
sp_data_6 = sp_data.copy()
sp_data_6[sp_data_6.Volume > 50].iloc[:,6:7].describe().loc['mean']

Volume    81395.731809
Name: mean, dtype: float64

7) Добавить столбец с расшифровкой названия тикера используя данные из файла sp_data2.csv . В случае нехватки данных об именах тикеров корректно обработать их.

8) Вывести тикеры, для которых не были найдены рсшифровки.

9) Рассчитать суммарный объем торгов (столбец 7) для для одинаковых значений (тикеров) из столбца 2 

9.2) Для каждого тикера подсчитать, сколько раз он встречается.

10) Расчитать среднее значение показателей для каждого из столбцов 3-6 для одинаковых значений (тикеров) из столбца 2 и сохранить в новом DataFrame

11) Добавить в DataFrame новый столбец, содержащий объем торгов (столбец 7), нормированный по среднему значению объема торгов для данного тикера.

In [34]:
#9
sp_data9 = sp_data.copy()
sp_data9.groupby("Ticker").Volume.sum()

#9.2
sp_data9.groupby("Ticker")["Ticker"].count()

#10
sp_data10 = sp_data9.copy()
sp_data10 = sp_data10.groupby("Ticker").mean().iloc[:,2:6]

# 11
sp_data11 = sp_data.copy()
sp_data11["Volume_norm"] = sp_data11.groupby('Ticker')["Volume"].transform(lambda x: x - x.mean())

2.7) Задание: загрузить данные из файла (приложен к письму) 'excel-comp-data.xlsx'

2.8) Задание: сколько строк для каждого из штатов есть в датафрэйме?

In [35]:
# 2.7
data_27 = pd.read_excel("excel-comp-data.xlsx", sheet_name = "sheet1")

# 2.8
data_27.groupby("state").state.count()

state
Arkansas         1
California       1
Delaware         1
Idaho            1
Iowa             2
Maine            1
Mississipi       1
NorthCarolina    1
NorthDakota      1
Pennsylvania     1
RhodeIsland      2
Tenessee         1
Texas            1
Name: state, dtype: int64